*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.4;
  font-weight: 300;
  font-family: "Lato", sans-serif; }

.container {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 10vh 90vh repeat(6, min-content); }

.best-sellers {
  padding: 10rem 0;
  background-color: #d1e0dd;
  grid-row: 4 / 5;
  grid-column: 2 / 3; }

.discounts {
  padding: 10rem 0;
  background-color: #f4da9d;
  grid-row: 5 / 6;
  grid-column: 2 / 3; }

.footer {
  padding: 10rem 0;
  background-color: #2a324b;
  grid-row: 7 / 8;
  grid-column: 2 / 3; }

.gallery {
  padding: 10rem 0;
  background-color: #8e92a4;
  grid-row: 6 / 7;
  grid-column: 2 / 3; }

.header {
  background-color: #f2f3f8;
  padding: 10rem 0;
  grid-row: 2 / 3;
  grid-column: 1 / -1; }

.navigation {
  padding: 10rem 0;
  background-color: khaki;
  grid-row: 1 / 2;
  grid-column: 1 / -1; }

.new-arrivals {
  padding: 10rem 0;
  background-color: #fec0c8;
  grid-row: 3 / 4;
  grid-column: 2 / 3; }
