$color-primary: #8e92a4;
$color-primary-dark: #2a324b;
$color-primary-light: #f2f3f8;

$color-secondary-yellow: #f4da9d;
$color-secondary-pink: #fec0c8;
$color-secondary-green: #d1e0dd;

$color-white: #fff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 12vh 88vh repeat(6, min-content);
}
