$color-primary: #8e92a4;
$color-primary-dark: #2a324b;
$color-primary-light: #f2f3f8;

$color-secondary-yellow: #ffd384;
$color-secondary-pink: #ffb4b4;
$color-secondary-green: #a3d2ca;

$color-white: #fff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  grid-template-rows: 12vh 98vh repeat(7, min-content);
}
