.box {
  &__tag {
    position: absolute;
    top: 4rem;
    left: 4rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  &__name {
    position: absolute;
    left: 4rem;
    top: 20%;
    width: 30%;

    &--long {
      top: 35%;
      width: 50%;
    }

    &--center {
      top: 32%;
    }
  }

  &__sales {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
  }

  &__button {
    border: none;
    // border-radius: 10rem;
    padding: 1.2rem 0 0;
    background-color: transparent;
    text-transform: uppercase;
    transition: all 0.2s;
    position: absolute;
    left: 4rem;
    bottom: 4rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.15rem;

    &:hover {
      transform: translateY(-3px);
      //   box-shadow: 0 1rem 2rem rgba($color-primary-dark, 0.2);

      &::after {
        width: 0;
      }
    }

    &:active {
      transform: translateY(0);
      //   box-shadow: 0 0.2rem 1rem rgba($color-primary-dark, 0.2);
      &::after {
        width: 100%;
      }
    }

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 90%;
      margin: 1rem auto 0;
      background-color: $color-primary-dark;
      transition: width 0.2s;
    }
  }
}
