.footer {
  padding: 2rem 0;
  grid-row: 8 / 9;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-template-rows: min-content 8rem;

  &__icons {
    display: flex;
  }

  &__icon {
    transition: all 0.2s;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-primary-dark;

    &:hover {
      transform: scale(1.4);
    }
  }

  &__menu {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &__menu-content {
    display: flex;
  }

  &__menu-list {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;

    &--left {
      margin-right: 10rem;
    }
  }

  &__menu-item {
    padding: 0.5rem 0;
  }

  &__menu-link {
    text-decoration: none;
    color: $color-primary-dark;
  }

  &__contact {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  &__contact-details {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
  }

  &__contact-info {
    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__socials {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  &__copyright {
    margin-top: 3rem;
    border-top: 1px solid $color-primary;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  &__logo {
    height: 3rem;
    width: 3rem;
  }
}
