.header {
  // background-color: $color-primary-light;
  padding: 10rem 0;
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.3),
      rgba($color-primary-light, 0.3)
    ),
    url(../img/tea-bg-4.jpg);
  background-size: cover;
  position: relative;

  &__text-box {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    right: 3rem;
  }

  &__icon {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-primary-dark;
  }
}
