.navigation {
  background-color: $color-white;
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(auto-fix, minmax(15rem, 1fr));
  grid-template-rows: 10vh;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;

  z-index: 10;

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 7vh 5vh;
  }

  &__logo {
    width: 3rem;
    height: 3rem;
  }

  &__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1 / 2;
  }

  &__search-box {
    display: flex;
    align-items: center;
    grid-row: 1 / 2;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 2 / 3;
    }
  }

  &__search-bar {
    width: 20vw;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 20rem;
    background-color: $color-primary-light;
    margin-right: -2.5rem;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    color: $color-primary-dark;
    transition: all 0.2s;

    @media only screen and (max-width: $bp-medium) {
      width: 45vw;
    }

    &:focus {
      outline: none;
    }
  }

  &__search-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-primary-dark;
  }
}

.nav {
  grid-row: 1 / 2;

  &__list {
    list-style: none;
    display: flex;
    align-self: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 4rem;
    }

    &::after {
      content: "";
      display: inherit;
      width: 0;
      height: 1px;
      margin-top: 3px;
      background-color: $color-primary-dark;
      transition: width 0.2s ease-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__link,
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1.2rem;
    color: $color-primary-dark;
    font-weight: 500;
    padding-bottom: 5px;
  }
}

.user-nav {
  grid-row: 1 / 2;
  @media only screen and (max-width: $bp-medium) {
    grid-row: 2 / 3;
  }

  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-primary-dark;
  }
}
