.u-margin-bottom-huge {
  margin-bottom: 8rem;
}

.u-margin-bottom-lg {
  margin-bottom: 6rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-tiny {
  margin-bottom: 1rem;
}
